body{
     color: rgb(241, 241, 247);
     background: rgb(85, 135, 241);
     margin:0px;
     font-family: "Satisfy", sans-serif;
     margin-bottom: 100px;
}
header{
     border-bottom: solid 2px rgb(255, 255, 255);
     padding: 20px;
     font-size: 30px;
     color:rgb(68, 34, 221)
}
section{
     background: rgb(39, 109, 238);
     padding-bottom: 80px;
     padding-top: 80 px;
     display: flex;
     justify-content: center;
}
.chamada-texto{
     margin-right: 5%;
}
h1{
     font-size: 40px;
}
p{
     font-size: 20px;
}

.categoria-vídeos{
     display: flex;
     overflow-x: auto;
     gap: 10px;
}
.categoria{
     padding-left: 20px;
     padding-right: 20px;
     margin-top: 50px;
}
.categoria-vídeos img{
     opacity: 0.5;
     height: 200px;
}
.categoria-vídeos img:hover{
     opacity: 1.0;
     border: 1px solid rgb(94, 158, 211);
}
.categoria h2{
     color:rgb(102, 102, 233)
}
